.wrapper{
    margin-right:min(16vw, 70px);
    margin-left:min(16vw, 70px);
}

/* header */

header{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.circle-logo{
    max-height: 47px;
    display: flex;
    align-self: center;
}
h1{
    font-size: 20px;
    display: flex;
    align-self: center;
    text-transform: lowercase;
    font-style: italic;
}

/* description */

h2{
    font-family: monospace;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 100;
    margin: 40px auto;
}

/* number-address-hours area */

.number-address-hours{
    margin: 40px auto;
}

.number-address-hours > *{
    font-family: monospace;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 100;
    margin: 15px 0 15px 0; 
}